/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #2e2e2e;
  --hover-color: #333333;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

